{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="container my-5">
    <h1 class="text-center">About Us</h1>
    <h4> ==> Welcome to the Excel YouTube Channel! We are a team of passionate experts dedicated to providing you with the latest and greatest tips and tricks for using Microsoft Excel. Our channel is perfect for anyone looking to improve their skills, from beginners to advanced users.</h4>
    <h4> ==>Our mission is to help you turn your data into meaningful insights and to boost your productivity. With the right tools and techniques, anyone can master Excel and use it to its full potential. We believe that with our help, you too can achieve your goals and get the most out of this powerful software</h4>
    <h4> ==> We upload new and exciting videos every week, covering a wide range of topics from basic functions to advanced formulas and everything in between. Our content is designed to be easy to follow and understand, and we’re always happy to help with any questions you may have.</h4>
    <h4> ==> So, if you’re looking to improve your Excel skills, then subscribe to our channel today and join our community of Excel enthusiasts. Together, we can unlock the full potential of this amazing software and transform your data into meaningful insights.</h4>
</div>
{% endblock body %}
